/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format("woff2"),
  url('../fonts/gilroylight.woff') format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'), local('Gilroy Extra-Bold'),
  url('../fonts/gilroyextrabold.woff2') format("woff2"),
  url('../fonts/gilroyextrabold.woff') format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-grey-light-dc: #DCDCDC;
  --special-grey-light-eb: #EBEBEB;
  --special-grey-light-d9: #D9D9D9;
  --special-transparent-black-300: rgba(0, 0, 0, 0.3);
  --special-transparent-black-600: rgba(0, 0, 0, 0.6);
  --special-transparent-white-700: rgba(255, 255, 255, 0.7);
  --special-transparent-white-300: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
  min-width: 1240px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.temporary-hidden {
  display: none !important; /* Временно для удобства*/
}

/* Header */

.main-header {
  display: grid;
  grid-template-columns: 540px auto;
  align-items: start;
  position: relative;
  padding: 0 60px;
  margin-top: 40px;

  background-color: var(--special-yellow);
}

.main-logo-header {
  position: absolute;
  top: -20px;
  left: 60px;
}

.search-form {
  margin-top: 42px;
}

.search-form input[type="text"] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;

  background-color: var(--special-yellow);
  border: none;
}

.search-form input[type="text"]:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
}

.search-form input[type="text"]::placeholder {
  color: var(--special-transparent-black-300);
}

.search-form input[type="text"]:hover::placeholder,
.search-form input[type="text"]:focus::placeholder{
  color: var(--special-transparent-black-600);
}

.search-form button {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;

  background-color: var(--special-yellow);
  border: 2px solid var(--basic-black);
}

.search-form button:hover,
.search-form button:focus {
  color: var(--basic-white);
  border-radius: 0;
  background-color: var(--basic-black);
  outline: none;
}

.search-form button:active {
  color: var(--special-transparent-white-300);
}

.user-links-list-header {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 44px;
  margin-bottom: 50px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;

  list-style: none;
}

.user-links-list-header .user-links-item.push {
  margin-right: auto;
}

.user-links-list-header a {
  border-radius: 0;
  color: var(--basic-black);
}

.user-links-list-header a:hover,
.user-links-list-header a:focus {
  opacity: 0.6;
  outline: none;
}

.user-links-list-header a:active {
  opacity: 0.3;
}

.user-links-list-header .logout-link {
  color: var(--special-transparent-black-300);
}

.main-navigation {
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

.main-navigation-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  list-style: none;
}

.main-navigation-item:last-child {
  margin-right: -4px;
}

.main-navigation-item.push {
  margin-right: auto;
  letter-spacing: 0.1em;
}

.main-navigation-list a {
  color: var(--basic-black);
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  opacity: 0.6;
  outline: none;
}

.main-navigation-list a:active {
  opacity: 0.3;
}

.main-navigation-submenu-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: normal;

  list-style: none;
}

/* Main - index.html */

.popular-products {
  min-height: 494px;
  margin-bottom: 71px;

  background-image: linear-gradient(var(--special-yellow) 114px, transparent 114px, transparent);
}

.popular-products-list {
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.popular-products-item {
  position: relative;
  display: grid;
  grid-template-columns: auto 500px;
  grid-template-areas:
    "image slogan"
    "image description"
    "image button"
    "image characteristics"
    "image .";
}

.popular-products-item::before {
  content: "";

  position: absolute;
  right: -13px;
  top: -33px;

  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.popular-products-item:nth-child(1)::before {
  content: "01";
}

.popular-products-item:nth-child(2)::before {
  content: "02";
}

.popular-products-item:nth-child(3)::before {
  content: "03";
}

.popular-products-image {
  grid-area: image;
}

.popular-products-slogan {
  grid-area: slogan;
  margin-top: 78px;
  margin-bottom: 27px;
  z-index: 2;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.popular-products-description {
  grid-area: description;
  margin: 0;
  margin-bottom: 50px;
  z-index: 2;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.popular-products-button {
  grid-area: button;
  margin-bottom: 34px;
  padding-left: 44px;
  padding-right: 40px;
}

.popular-products-characteristics {
  grid-area: characteristics;
  display: grid;
  justify-content: start;
  align-content: start;
  grid-template-columns: auto;
  gap: 15px 60px;

  font-weight: 300;
  letter-spacing: 0.1em;
}

.characteristics-value {
  grid-row: 1 / 2;
  margin: 0;

  font-size: 36px;
  line-height: 42px;
}

.characteristics-key {
  grid-row: 2 / 3;

  font-size: 13px;
  line-height: 15px;
}

.button {
  display: block;
  justify-self: start;
  padding: 8px 10px 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: transparent;
  background-image: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  outline: none;
}

.button:active {
  color: var(--special-transparent-black-300);
}

.categories {
  margin-bottom: 163px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  margin-top: 271px;

  list-style: none;
}

.categories-item a {
  position: relative;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.categories-item:nth-child(4) a {
  letter-spacing: 0;
}

.categories-item a::before {
  content: "";

  position: absolute;
  top: -197px;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.services {
  display: grid;
  align-content: start;
  min-height: 288px;
  margin-bottom: 90px;

  background-color: var(--basic-grey-light);
}

.services .container {
  position: relative;
  display: grid;
  grid-template-columns: 277px 600px;
  column-gap: 123px;
  margin-top: -20px;
}

.services .container::before {
  content: "";

  position: absolute;
  left: 277px;
  top: -80px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.services-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.services-slider {
  position: relative;
  z-index: 2;
  min-width: 160px;
  margin-bottom: 21px;
  padding: 8px 10px 10px;

  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;

  background-image: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
}

.services-slider:last-child {
  margin-bottom: 0;
}

.services-slider.active::after {
  content: "";

  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
}

.services-slider:hover,
.services-slider:focus {
  background-color: var(--special-yellow-dark);
}

.services-slider.active {
  color: var(--special-yellow);

  background-color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-heading {
  margin: 0;
  margin-top: -9px;
  margin-bottom: 40px;

  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-description {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.manufacturer {
  margin-bottom: 90px;
}

.manufacturer-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturer-item {
  filter: grayscale(100%);
  opacity: 0.2;
}

.manufacturer-item:first-child {
  opacity: 0.185;
}

.manufacturer-item:hover,
.manufacturer-item:focus {
  filter: none;
  opacity: 1;
}

.about-us-contacts-wrapper {
  display: grid;
  grid-template-columns: 500px 560px;
  column-gap: 100px;
  margin-bottom: 17px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 60px;
}

.section-heading {
  margin: 0;
  margin-top: 52px;
  margin-bottom: 40px;

  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.section-paragraph {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us-delivery {
  margin-bottom: 60px;
}

.delivery-list {
  margin: 0;
  padding: 0;
  padding-left: 32px;
  margin-bottom: 56px;

  list-style: none;
}

.delivery-item {
  margin-bottom: 14px;

  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.contacts-map {
  margin-bottom: 71px;
}

.about-us-button,
.contacts-button {
  min-width: 260px;
  text-align: center;
}

.about-us-button {
  padding-left: 18px;
}

.contacts-button {
  padding-left: 14px;
}

/* Main - catalog.html */

.main-heading {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);

  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) a:hover,
.breadcrumbs-item:not(:last-child) a:focus {
  opacity: 0.6;
  outline: none;
}

.breadcrumbs-item:not(:last-child) a:active {
  opacity: 0.1;
}

.filters {
  background-color: var(--basic-grey-light);
}

.filters-heading {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: var(--special-grey-light-dc);
}

.sorting {
  background-color: var(--basic-grey-light);
}

.sorting-heading {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--special-transparent-black-300);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--special-transparent-black-600);
  outline: none;
}

.sorting-item.active a,
.sorting-item a:active {
  color: var(--basic-black);
}

.catalog-list {
  list-style: none;
}

.add-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);

  opacity: 0.5;
}

.add-compare:hover,
.add-compare:focus {
  opacity: 1;
  outline: none;
}

.add-compare:active {
  opacity: 0.2;
}

.product-name {
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.product-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.label-new {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--special-transparent-black-300);
}

.pagination-list {
  list-style: none;

  background-color: var(--special-grey-light-eb);
}

.pagination-item a {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);

  opacity: 0.3;
}

.pagination-item.active a,
.pagination-item.previous a,
.pagination-item.next a {
  opacity: 1;
}

.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.6;
}

.pagination-item.active a:hover,
.pagination-item.previous a:hover,
.pagination-item.next a:hover,
.pagination-item.active a:focus,
.pagination-item.previous a:focus,
.pagination-item.next a:focus,
.pagination-item a:active {
  opacity: 1;
}

.pagination-item.previous a:hover,
.pagination-item.next a:hover,
.pagination-item.previous a:focus,
.pagination-item.next a:focus {
  background-color: var(--special-grey-light-d9);
}

.pagination-item.previous a:active,
.pagination-item.next a:active {
  color: var(--special-transparent-black-300);
}

.pagination-item.disabled a:hover,
.pagination-item.disabled a:focus,
.pagination-item.disabled a:active {
  color: var(--basic-black);

  background-color: var(--special-grey-light-eb);
}

/* Footer */

.main-footer {
  padding-top: 46px;

  background-color: var(--basic-dark);
}

.main-footer-wrapper {
  display: grid;
  grid-template-areas:
    "logo user-links user-links"
    "address work-details phone"
    ". social copyright";
  grid-template-columns: 260px 1fr 260px;
  align-content: baseline;
  margin-bottom: 59px;
}

.main-logo-footer {
  grid-area: logo;
  margin-top: 18px;
  margin-bottom: 35px;
}

.user-links-list-footer {
  grid-area: user-links;
  justify-self: end;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-links-list-footer a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--special-transparent-white-700);
}

.user-links-list-footer a:hover,
.user-links-list-footer a:focus {
  color: var(--basic-white);
}

.user-links-list-footer a:active {
  color: var(--special-transparent-white-300);
}

.address-footer {
  grid-area: address;
}

.phone-footer {
  grid-area: phone;
  justify-self: end;
}

.address-footer,
.phone-footer {
  align-self: start;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
}

.work-details {
  grid-area: work-details;
  justify-self: center;
  margin-bottom: 66px;
}

.work-details-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 3px;

  list-style: none;
}

.work-details-item:not(:last-child) {
  margin-right: 33px;
}

.work-details-item a {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.work-details-item a:hover,
.work-details-item a:focus {
  opacity: 0.6;
}

.work-details-item a:active {
  opacity: 0.3;
}

.social {
  grid-area: social;
  justify-self: center;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.copyright {
  grid-area: copyright;
  justify-self: end;
  margin-top: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
