/* Fonts */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/gilroylight.woff2') format("woff2"),
  url('../fonts/gilroylight.woff') format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'), local('Gilroy Extra-Bold'),
  url('../fonts/gilroyextrabold.woff2') format("woff2"),
  url('../fonts/gilroyextrabold.woff') format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-pink: #F6DADA;
  --special-yellow-dark: #F0C52E;
  --special-yellow-bright: #FFC600;
  --special-grey-light-dc: #DCDCDC;
  --special-grey-light-eb: #EBEBEB;
  --special-grey-light-ea: #EAEAEA;
  --special-grey-light-d9: #D9D9D9;
  --special-grey-light-c4: #C4C4C4;
  --special-grey-light-f2: #F2F2F2;
  --special-transparent-black-180: rgba(0, 0, 0, 0.18);
  --special-transparent-black-200: rgba(0, 0, 0, 0.2);
  --special-transparent-black-300: rgba(0, 0, 0, 0.3);
  --special-transparent-black-400: rgba(0, 0, 0, 0.4);
  --special-transparent-black-600: rgba(0, 0, 0, 0.6);
  --special-transparent-white-700: rgba(255, 255, 255, 0.7);
  --special-transparent-white-300: rgba(255, 255, 255, 0.3);
  --special-transparent-grey: rgba(238, 238, 238, 0.7);
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.temporary-hidden {
  display: none !important; /* Временно для удобства*/
}

/* Header */
.main-header .wrapper {
  position: relative;
  display: grid;
  align-items: start;
  padding: 40px 60px 0;
  column-gap: 85px;
  background-image: linear-gradient(transparent, transparent 40px, var(--special-yellow) 40px, var(--special-yellow));
  grid-template-columns: 441px auto;
}

.inside-header {
  margin-bottom: 44px;
}

.main-logo-header {
  position: absolute;
  top: 20px;
  left: 60px;
}

.main-logo-header[href]:hover,
.main-logo-header[href]:focus {
  opacity: 0.6;
}

.main-logo-header[href]:active {
  opacity: 0.3;
}

.search-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 44px;
}

.search-form input[type="text"] {
  width: 356px;
  padding-bottom: 12px;
  padding-left: 38px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: var(--special-yellow);
  border: none;
}

.search-form input[type="text"]:focus,
.search-form input[type="text"]:not(:placeholder-shown) {
  border-bottom: 2px solid var(--basic-black);
  outline: none;
}

.search-form input[type="text"]::placeholder {
  color: var(--special-transparent-black-300);
}

.search-form input[type="text"]:hover::placeholder,
.search-form input[type="text"]:focus::placeholder {
  color: var(--special-transparent-black-600);
}

.search-form label {
  position: relative;
}

.search-form label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 30;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-form button {
  display: none;
  margin-top: -15px;
  padding: 13px 15px 13px 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--special-yellow);
  border: 2px solid var(--basic-black);
}

.search-form input[type="text"]:focus + button,
.search-form input[type="text"]:not(:placeholder-shown) + button {
  display: block;
}

.search-form button:hover,
.search-form button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
  border-radius: 0;
  outline: none;
}

.search-form button:active {
  color: var(--special-transparent-white-300);
}

.user-links-list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-top: 44px;
  margin-right: -10px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.user-links-list-header .user-links-item {
  margin-left: 20px;
}

.user-links-list-header .user-links-item-logout {
  margin-left: 21px;
}

.user-links-list-header .user-links-item:first-child {
  margin-left: 14px;
}

.user-links-list-header .user-links-item:last-child {
  margin-left: 32px;
}

.user-links-list-header .user-links-item.push {
  margin-left: auto;
}

.user-links-list-header a {
  padding: 10px;
  padding-left: 0;
  color: var(--basic-black);
}

.user-links-list-header a:hover,
.user-links-list-header a:focus {
  opacity: 0.6;
}

.user-links-list-header a:active {
  opacity: 0.3;
}

.user-links-item a {
  position: relative;
}

.user-links-item a::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  margin-bottom: -2px;
  vertical-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user-links-list-header .profile-link {
  display: block;
  max-width: 215px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-links-list-header .login-link::before,
.user-links-list-header .profile-link::before {
  background-image: url("../img/icon-user.svg");
}

.user-links-list-header .compare-link::before {
  background-image: url("../img/icon-comparison.svg");
}

.user-links-list-header .cart-link::before {
  background-image: url("../img/icon-cart.svg");
}

.user-links-list-header .logout-link {
  color: var(--special-transparent-black-300);
}

.user-links-list-header .logout-link::before {
  content: none;
}

.main-navigation {
  margin-bottom: 50px;
  grid-column: 1 / -1;
}

.main-navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-navigation-item:not(:first-child) {
  margin-left: 35px;
}

.main-navigation-item:last-child {
  margin-right: -4px;
  margin-left: 108px;
}

.main-navigation-item.push {
  margin-right: auto;
}

.main-navigation-item-plus {
  position: relative;
}

.main-navigation-item-plus::before {
  content: "";
  position: absolute;
  right: -35px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-navigation-list a {
  color: var(--basic-black);
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  color: var(--special-transparent-black-600);
}

.main-navigation-list a:active {
  color: var(--special-transparent-black-300);
}

.main-navigation-submenu-list {
  position: absolute;
  left: -60px;
  z-index: 3;
  display: none;
  list-style: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  background-color: var(--special-yellow);
}

.main-navigation-item-plus:focus + .main-navigation-submenu-list,
.main-navigation-item-plus:hover + .main-navigation-submenu-list,
.main-navigation-submenu-list:hover,
.main-navigation-item:first-child:focus-within .main-navigation-submenu-list {
  display: grid;
  justify-content: start;
  width: 1160px;
  min-height: 146px;
  margin: 0;
  padding: 30px 60px 26px;
  column-gap: 63px;
  grid-template-columns: repeat(6, auto);
  grid-auto-flow: row dense;
}

.main-navigation-submenu-item {
  margin-bottom: 16px;
}

.main-navigation-submenu-item:nth-child(1),
.main-navigation-submenu-item:nth-child(2),
.main-navigation-submenu-item:nth-child(3) {
  grid-column: 1 / 2;
}

.main-navigation-submenu-item:nth-child(4),
.main-navigation-submenu-item:nth-child(5) {
  grid-column: 2 / 3;
}

.main-navigation-submenu-item:nth-child(6) {
  grid-column: 3 / 4;
}

/* Main - index.html */
.button {
  display: block;
  padding: 8px 10px 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  background-image: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
  border: none;
  justify-self: start;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
  outline: none;
}

.button:active {
  color: var(--special-transparent-black-300);
}

.popular-products .wrapper {
  position: relative;
  min-height: 494px;
  margin-bottom: 71px;
  background-image: linear-gradient(var(--special-yellow) 114px, transparent 114px, transparent);
}

.popular-products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-products-item {
  position: relative;
  display: none;
  grid-template-columns: auto 560px;
  grid-template-areas:
    "image slogan"
    "image description"
    "image button"
    "image characteristics"
    "image .";
}

.popular-products-item::before {
  content: "";
  position: absolute;
  top: -33px;
  right: 47px;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.popular-products-item:nth-child(1)::before {
  content: "01";
}

.popular-products-item:nth-child(2)::before {
  content: "02";
  right: 54px;
}

.popular-products-item:nth-child(3)::before {
  content: "03";
  right: 53px;
}

.popular-products-item::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 460px;
  display: block;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.popular-products-image {
  max-height: 486px;
  margin-left: 40px;
  grid-area: image;
  object-fit: contain;
}

.popular-products-item:nth-child(1) .popular-products-image {
  margin-top: -15px;
  margin-left: 89px;
}

.popular-products-item:nth-child(2) .popular-products-image {
  margin-top: 11px;
  margin-left: 116px;
}

.popular-products-item:nth-child(3) .popular-products-image {
  margin-top: 67px;
  margin-left: 30px;
}

.popular-products-slogan {
  z-index: 2;
  margin-top: 78px;
  margin-bottom: 27px;
  padding-right: 60px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  grid-area: slogan;
}

.popular-products-description {
  z-index: 2;
  margin: 0;
  margin-bottom: 50px;
  padding-right: 60px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  grid-area: description;
}

.popular-products-button {
  max-width: 385px;
  margin-bottom: 52px;
  padding-right: 40px;
  padding-left: 44px;
  grid-area: button;
}

.popular-products-characteristics {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 300;
  grid-area: characteristics;
}

.characteristics-wrapper {
  display: flex;
  flex-direction: column;
}

.characteristics-wrapper:not(:last-child) {
  margin-right: 62px;
}

.characteristics-value {
  order: 1;
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.characteristics-key {
  order: 2;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.popular-products-controls {
  position: absolute;
  right: 88px;
  bottom: 157px;
  display: flex;
  justify-content: space-between;
  width: 72px;
}

.popular-products-controls button {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.popular-products-controls .current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.popular-products-item-current {
  display: grid;
}

.categories {
  margin-bottom: 174px;
}

.categories-list {
  display: grid;
  margin: 0;
  padding: 0;
  padding-top: 213px;
  list-style: none;
  column-gap: 40px;
  grid-template-columns: repeat(6, 160px);
  row-gap: 220px;
}

.categories-item h3 {
  margin: 0;
}

.categories-item a {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  letter-spacing: 0.05em;
}

.categories-item:nth-child(4) a {
  letter-spacing: 0;
}

.categories-item a::before,
.categories-item a::after {
  content: "";
  position: absolute;
  top: -188px;
  left: 0;
  width: 160px;
  height: 160px;
}

.categories-item a::before {
  background-color: var(--special-yellow);
}

.categories-item a:hover,
.categories-item a:focus {
  outline: none;
}

.categories-item a:hover::before,
.categories-item a:focus::before {
  background-color: var(--special-yellow-dark);
}

.categories-item a:active::after {
  opacity: 0.3;
}

.categories-item a:active {
  color: var(--special-transparent-black-300);
}

.categories-item a::after {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.categories-item.vr a::after {
  background-image: url("../img/categories-ar.svg");
}

.categories-item.monopod a::after {
  background-image: url("../img/categories-monopod.svg");
  background-position: 50% 60%;
}

.categories-item.camera a::after {
  background-image: url("../img/categories-camera.svg");
}

.categories-item.bracelet a::after {
  background-image: url("../img/categories-bracelet.svg");
}

.categories-item.watch a::after {
  background-image: url("../img/categories-watch.svg");
}

.categories-item.quadcopter a::after {
  background-image: url("../img/categories-quadcopter.svg");
}

.services {
  display: grid;
  align-content: start;
  min-height: 288px;
  margin-bottom: 90px;
  background-color: var(--basic-grey-light);
}

.services .container {
  position: relative;
  display: grid;
  margin-top: -20px;
  column-gap: 123px;
  grid-template-columns: 277px 600px;
}

.services .container::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 297px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.services-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.services-slider {
  position: relative;
  z-index: 2;
  display: block;
  min-width: 160px;
  max-width: 277px;
  margin-bottom: 23px;
  padding: 9px 10px 9px 12px;
  font-weight: 800;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  background-image: linear-gradient(transparent 16px, var(--special-yellow-dark) 16px, var(--special-yellow-dark) 24px, transparent 24px);
  border: none;
}

.services-slider::before {
  content: "";
  position: absolute;
  left: 277px;
  display: block;
  width: 7px;
  height: 109px;
  background-color: var(--basic-black);
}

.services-slider:last-child {
  margin-bottom: 145px;
}

.services-slider.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
}

.services-slider:hover,
.services-slider:focus {
  background-color: var(--special-yellow-dark);
  outline: none;
}

.services-slider.active {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  position: relative;
  display: none;
}

.services-item-current {
  display: block;
}

.services-item::before {
  content: "";
  position: absolute;
  right: -158px;
  display: block;
  background-repeat: no-repeat;
}

.services-item.delivery::before {
  right: -158px;
  width: 136px;
  height: 164px;
  background-image: url("../img/services-delivery.svg");
}

.services-item.warranty::before {
  top: -18px;
  right: -176px;
  width: 171px;
  height: 195px;
  background-image: url("../img/services-warranty.svg");
}

.services-item.credit::before {
  top: -23px;
  right: -152px;
  width: 156px;
  height: 188px;
  background-image: url("../img/services-credit.svg");
}

.services-heading {
  margin: 0;
  margin-top: -9px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services-description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
}

.manufacturer {
  margin-bottom: 90px;
}

.manufacturer-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
}

.manufacturer-item {
  opacity: 0.2;
  filter: grayscale(100%);
}

.manufacturer-item.dji {
  opacity: 0.185;
}

.manufacturer-item:hover,
.manufacturer-item:focus-within {
  opacity: 1;
  filter: none;
}

.manufacturer-item a:focus {
  outline: none;
}

.about-us-contacts-wrapper {
  display: grid;
  margin-bottom: 17px;
  column-gap: 100px;
  grid-template-columns: 500px 560px;
}

.section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 60px;
}

.section-container::before {
  content: "";
  position: absolute;
  top: -5px;
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about-us {
  max-width: 500px;
}

.contacts {
  max-width: 560px;
}

.section-heading {
  max-width: inherit;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 40px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.section-paragraph {
  max-width: inherit;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
}

.about-us-delivery {
  max-width: inherit;
  margin-bottom: 60px;
}

.delivery-list {
  max-width: inherit;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  padding-left: 32px;
  list-style: none;
}

.delivery-item {
  position: relative;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.delivery-item::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -32px;
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
}

.contacts-map {
  max-width: inherit;
  margin-bottom: 71px;
}

.contacts-map img {
  max-width: inherit;
  object-fit: contain;
}

.about-us-button,
.contacts-button {
  min-width: 260px;
  text-align: center;
}

.about-us-button {
  padding-left: 18px;
}

.contacts-button {
  padding-left: 14px;
}

/* Main - catalog.html */
.main-heading {
  margin: 0;
  margin-bottom: 28px;
  margin-left: 60px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.heading-wrapper {
  margin-bottom: 49px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -27px;
  bottom: 4px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-item a {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) a:hover,
.breadcrumbs-item:not(:last-child) a:focus {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child) a:active {
  opacity: 0.1;
}

.catalog-wrapper {
  display: grid;
  grid-template-areas: "filter products";
}

.filters {
  display: flex;
  flex-direction: column;
  background-color: var(--basic-grey-light);
}

.filters-heading-wrapper {
  margin-bottom: 70px;
  background-color: var(--special-grey-light-dc);
}

.filters-heading,
.product-filter {
  width: 260px;
  margin: 0;
  margin-right: 68px;
  margin-left: auto;
  padding-left: 60px;
}

.filters-heading {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.filters-heading,
.sorting-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}

.product-filter {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

.product-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.product-filter fieldset:last-of-type {
  margin-bottom: 5px;
}

.product-filter legend {
  width: 200px;
  margin-bottom: 30px;
  padding-top: 14px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border-top: 2px solid var(--basic-black);
}

.product-filter label {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
}

.fieldset-price legend {
  margin-bottom: 39px;
}

.fieldset-price .scale {
  position: relative;
  height: 2px;
  margin-bottom: 17px;
  background-color: var(--special-transparent-black-200);
}

.fieldset-price .bar {
  width: 122px;
  height: 2px;
  background-color: var(--special-green);
}

.fieldset-price .toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: var(--special-grey-light-c4);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--special-transparent-black-180);
  cursor: pointer;
}

.fieldset-price .toggle-min {
  left: 0;
}

.fieldset-price .toggle-max {
  left: 114px;
}

.price-controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 36px;
}

.price-controls label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.price-controls input {
  width: 70px;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border: none;
  -moz-appearance: textfield;
}

.price-controls input::-webkit-inner-spin-button,
.price-controls input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.price-controls .min-price {
  margin-right: 10px;
}

.filter-list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  padding-left: 42px;
  list-style: none;
}

.filter-option {
  position: relative;
}

.filter-option-checkbox label::before,
.filter-option-radio label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
}

.filter-option-radio label::before {
  border-radius: 50%;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -37px;
  width: 14px;
  height: 11px;
  background-image: url("../img/icon-check-mark.svg");
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-option:focus-within {
  outline: auto;
}

.filter-input:hover + label::before,
.filter-input:focus-within + label::before,
.filter-input:hover + label::after,
.filter-input:focus-within + label::after {
  opacity: 0.6;
}

.filter-input[disabled] + label {
  opacity: 0.25;
}

.filter-input[disabled] + label::before,
.filter-input[disabled] + label::after {
  opacity: 1;
}

.filter-option:not(:last-child) {
  margin-bottom: 17px;
}

.button-show {
  bottom: 0;
  min-width: 200px;
  max-width: 268px;
  padding-right: 15px;
}

.products-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog-container {
  width: 760px;
  margin-right: auto;
  margin-left: 72px;
}

.sorting {
  margin-bottom: 70px;
  background-color: var(--basic-grey-light);
}

.sorting .catalog-container {
  display: flex;
}

.sorting-heading {
  max-width: 300px;
  margin-right: 73px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sorting-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.sorting-item {
  margin-right: 30px;
}

.sorting-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--special-transparent-black-300);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--special-transparent-black-600);
}

.sorting-item.active a,
.sorting-item a:active {
  color: var(--basic-black);
}

.sort-up,
.sort-down {
  width: 0;
}

.sort-up {
  margin-right: 34px;
  margin-left: auto;
}

.sort-down {
  margin-right: 15px;
}

.sort-up a::before,
.sort-down a::before {
  content: "";
  position: absolute;
  top: 6px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-down a::before {
  transform: rotate(180deg);
}

.sort-up:not(.active) a:hover::before,
.sort-down:not(.active) a:hover::before {
  opacity: 0.4;
}

.sort-up a:focus::before,
.sort-down a:focus::before {
  outline: auto;
  opacity: 0.4;
}

.sort-up.active a::before,
.sort-down.active a::before {
  opacity: 1;
}

.catalog-list {
  display: grid;
  margin-top: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
  column-gap: 40px;
  grid-template-columns: 360px 360px;
  row-gap: 47px;
}

.catalog-item {
  display: grid;
  align-content: start;
  grid-template-areas:
    "image image"
    "name price";
  row-gap: 29px;
  grid-template-columns: auto 81px;
}

.catalog-item .image-wrapper {
  position: relative;
  width: 360px;
  height: 380px;
  overflow: hidden;
  background-color: var(--basic-grey-light);
  grid-area: image;
}

.image-wrapper img {
  object-fit: contain;
}

.image-wrapper:hover::before,
.image-wrapper:focus-within::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 360px;
  height: 380px;
  background-color: var(--special-transparent-grey);
}

.product-buttons-wrapper {
  position: absolute;
  top: 28px;
  left: -3px;
  z-index: -3;
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 353px;
}

.image-wrapper:hover .product-buttons-wrapper,
.image-wrapper:focus-within .product-buttons-wrapper {
  z-index: 3;
}

.add-cart-button {
  margin: auto auto 10px auto;
  padding-right: 35px;
  padding-left: 37px;
}

.add-compare {
  margin-bottom: auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  color: var(--basic-black);
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.add-compare:hover,
.add-compare:focus {
  outline: none;
  opacity: 1;
}

.add-compare:active {
  opacity: 0.2;
}

.catalog-item h3 {
  min-height: 46px;
  margin: 0;
}

.product-name {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
  letter-spacing: 0.05em;
  grid-area: name;
}

.product-price {
  margin-top: 4px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  grid-area: price;
  justify-self: start;
}

.catalog-item .label-new {
  position: absolute;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  padding-top: 22px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--special-transparent-black-300);
  text-transform: uppercase;
  border: 2px solid var(--special-transparent-black-300);
  border-radius: 50%;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 78px;
  padding: 0;
  list-style: none;
  background-color: var(--special-grey-light-eb);
}

.pagination-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pagination-item:not(.previous):not(:nth-last-child(2)):not(.next) {
  margin-right: 29px;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-item a {
  padding-top: 26px;
  padding-bottom: 25px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  opacity: 0.3;
}

.pagination-item.previous a {
  padding-right: 30px;
  padding-left: 30px;
}

.pagination-item.next a {
  padding-right: 28px;
  padding-left: 24px;
}

.pagination-item.active a,
.pagination-item.previous a,
.pagination-item.next a {
  opacity: 1;
}

.pagination-item a:hover,
.pagination-item a:focus {
  opacity: 0.6;
}

.pagination-item.active a:hover,
.pagination-item.previous a:hover,
.pagination-item.next a:hover,
.pagination-item.active a:focus,
.pagination-item.previous a:focus,
.pagination-item.next a:focus,
.pagination-item a:active {
  opacity: 1;
}

.pagination-item.previous a:hover,
.pagination-item.next a:hover,
.pagination-item.previous a:focus,
.pagination-item.next a:focus {
  background-color: var(--special-grey-light-d9);
}

.pagination-item.previous a:active,
.pagination-item.next a:active {
  color: var(--special-transparent-black-300);
}

.pagination-item.disabled a:hover,
.pagination-item.disabled a:focus,
.pagination-item.disabled a:active {
  color: var(--basic-black);
  background-color: var(--special-grey-light-eb);
}

/* Footer */
.main-footer {
  padding-top: 46px;
  background-color: var(--basic-dark);
}

.main-footer-wrapper {
  position: relative;
  display: grid;
  align-content: baseline;
  margin-bottom: 59px;
  grid-template-areas:
    "logo user-links user-links"
    "address work-details phone"
    ". social copyright";
  grid-template-columns: 260px 1fr 260px;
}

.main-footer-wrapper::before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: 20px;
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-bright);
}

.main-logo-footer {
  margin-top: 18px;
  margin-bottom: 35px;
  grid-area: logo;
}

.user-links-list-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: user-links;
  justify-self: end;
}

.user-links-list-footer .user-links-item {
  margin-left: 24px;
}

.user-links-list-footer .user-links-item-logout {
  margin-left: 5px;
}

.user-links-list-footer .user-links-item:nth-last-child(1) {
  margin-right: -10px;
  margin-left: 20px;
}

.user-links-list-footer .user-links-item:nth-last-child(2) {
  margin-left: 21px;
}

.user-links-list-footer a {
  padding: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--special-transparent-white-700);
}

.user-links-list-footer .login-link::before {
  background-image: url("../img/icon-user-footer.svg");
}

.user-links-list-footer .profile-link::before {
  margin-right: 12px;
  background-image: url("../img/icon-user-login-footer.svg");
}

.user-links-list-footer .compare-link::before {
  background-image: url("../img/icon-comparison-footer.svg");
}

.user-links-list-footer .cart-link::before {
  background-image: url("../img/icon-cart-footer.svg");
  background-position: 50% 0;
}

.user-links-list-footer .logout-link::before {
  content: none;
}

.user-links-list-footer a:hover,
.user-links-list-footer a:focus {
  color: var(--basic-white);
}

.user-links-list-footer a:active {
  color: var(--special-transparent-white-300);
}

.address-footer {
  grid-area: address;
}

.phone-footer {
  text-align: right;
  grid-area: phone;
  justify-self: end;
}

.address-footer,
.phone-footer {
  align-self: start;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-white);
}

.work-details {
  margin-bottom: 66px;
  grid-area: work-details;
  justify-self: center;
}

.work-details-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  list-style: none;
}

.work-details-item:not(:last-child) {
  margin-right: 33px;
}

.work-details-item a {
  font-weight: 800;
  color: var(--basic-white);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.work-details-item a:hover,
.work-details-item a:focus {
  opacity: 0.6;
}

.work-details-item a:active {
  opacity: 0.3;
}

.social {
  grid-area: social;
  justify-self: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.social-link:focus {
  outline: none;
}

.social-link:hover svg,
.social-link:focus svg {
  fill-opacity: .6;
}

.social-item:active svg {
  fill-opacity: .1;
}

.copyright {
  margin-top: -1px;
  grid-area: copyright;
  justify-self: end;
}

.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background: var(--basic-white);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: var(--special-yellow-dark);
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 52% 52%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
  outline: none;
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
  width: 960px;
  padding: 92px 100px 0;
}

.write-us-form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.write-us-form-item:nth-child(even):not(.write-us-form-textarea) {
  margin-left: 40px;
}

.write-us-form-item {
  flex-grow: 1;
  width: 47.3%;
  margin-bottom: 32px;
}

.write-us-form-textarea {
  width: 100%;
}

.write-us-form-item:last-child {
  margin-bottom: 45px;
}

.write-us-form-item * {
  display: block;
  width: 100%;
}

.write-us-label {
  margin-bottom: 10px;
  font-weight: 800;
}

.write-us-input {
  padding: 16px 20px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--special-grey-light-f2);
  border: none;
}

.write-us-input::placeholder {
  color: var(--special-transparent-black-400);
}

.write-us-input:hover {
  background-color: var(--special-grey-light-ea);
}

.write-us-input.invalid {
  background-color: var(--special-pink);
}

.write-us-input:focus {
  padding: 14px 18px 13px;
  background-color: transparent;
  border: 2px solid #F7E296;
  outline: none;
}

.write-us-form-textarea textarea {
  width: 100%;
  height: 167px;
  resize: none;
}

.write-us-button {
  min-width: 200px;
  max-width: 100%;
  margin-bottom: 60px;
}

.modal-map {
  display: none;
  width: 960px;
  height: 559px;
}

.modal-map iframe {
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
